CREATE TABLE IF NOT EXISTS agency_settings (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    company_name TEXT NOT NULL,
    vat_number TEXT,
    address TEXT,
    phone TEXT,
    email TEXT,
    iban TEXT,
    swift TEXT,
    bank_name TEXT,
    logo_url TEXT,
    updated_at TIMESTAMPTZ DEFAULT now()
);

-- Insert default settings if none exist
INSERT INTO agency_settings (id, company_name, vat_number, address, phone, email, iban, swift, bank_name, logo_url)
SELECT gen_random_uuid(), 'ALFA MONOPROSOPI I.K.E.', 'EL801915410', 'Thesi Filakio, Leptokarya, Pieria, Greece, 60063', '+30 694 207 2312', 'info@atravel.gr', '', '', '', ''
WHERE NOT EXISTS (SELECT 1 FROM agency_settings);

-- Enhance invoices with tax info
ALTER TABLE invoices ADD COLUMN IF NOT EXISTS vat_rate DECIMAL DEFAULT 13;
ALTER TABLE invoices ADD COLUMN IF NOT EXISTS tax_amount DECIMAL;
ALTER TABLE invoices ADD COLUMN IF NOT EXISTS invoice_number TEXT;

