
-- Create profiles table
CREATE TABLE IF NOT EXISTS public.profiles (
  id UUID REFERENCES auth.users(id) ON DELETE CASCADE PRIMARY KEY,
  email TEXT,
  full_name TEXT,
  created_at TIMESTAMPTZ DEFAULT now(),
  updated_at TIMESTAMPTZ DEFAULT now()
);

-- RLS for profiles
ALTER TABLE public.profiles ENABLE ROW LEVEL SECURITY;

CREATE POLICY \
Public
profiles
are
viewable
by
everyone\ 
ON public.profiles FOR SELECT 
USING (true);

CREATE POLICY \Users
can
insert
their
own
profile\ 
ON public.profiles FOR INSERT 
WITH CHECK (auth.uid() = id);

CREATE POLICY \Users
can
update
own
profile\ 
ON public.profiles FOR UPDATE 
USING (auth.uid() = id);

-- Trigger to create profile on signup
CREATE OR REPLACE FUNCTION public.handle_new_user() 
RETURNS TRIGGER AS \$\$
BEGIN
  INSERT INTO public.profiles (id, email, full_name)
  VALUES (new.id, new.email, new.raw_user_meta_data->>'full_name');
  RETURN new;
END;
\$\$ LANGUAGE plpgsql SECURITY DEFINER;

DROP TRIGGER IF EXISTS on_auth_user_created ON auth.users;
CREATE TRIGGER on_auth_user_created
  AFTER INSERT ON auth.users
  FOR EACH ROW EXECUTE FUNCTION public.handle_new_user();

-- Backfill existing users (SAFE TO RUN MULTIPLE TIMES)
INSERT INTO public.profiles (id, email, full_name)
SELECT 
  id, 
  email, 
  raw_user_meta_data->>'full_name'
FROM auth.users
ON CONFLICT (id) DO NOTHING;

-- Enhancing user_roles policies
DROP POLICY IF EXISTS \Admins
can
update
roles\ ON public.user_roles;
CREATE POLICY \Admins
can
update
roles\ 
ON public.user_roles FOR UPDATE
USING (
  EXISTS (
    SELECT 1 FROM public.user_roles 
    WHERE user_id = auth.uid() AND role = 'admin'
  )
);

DROP POLICY IF EXISTS \Admins
can
insert
roles\ ON public.user_roles;
CREATE POLICY \Admins
can
insert
roles\ 
ON public.user_roles FOR INSERT
WITH CHECK (
  EXISTS (
    SELECT 1 FROM public.user_roles 
    WHERE user_id = auth.uid() AND role = 'admin'
  )
);

DROP POLICY IF EXISTS \Everyone
can
read
roles\ ON public.user_roles;
CREATE POLICY \Everyone
can
read
roles\ 
ON public.user_roles FOR SELECT
USING (true);

